*{-webkit-box-sizing: border-box; box-sizing: border-box}
html{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);height:100%;}
body{font-family: sans-serif, Arial, Segoe UI;font-size: 16px;margin: 0;padding: 0;height:100%;overflow:hidden}
.content{background:#1e2023;min-height:100%;height:100%;width:100%;overflow:hidden;}
.side{position:relative;float:left;width:16%;height:100%}
.dash{position:relative;float:left;width:84%;height:100%}
.controls,.main-container,.preloader{min-height:100%;height:100%;width:100%;margin:0;overflow:hidden;}
.preloader{z-index:2000;position:absolute;background:-webkit-radial-gradient(center, circle cover, #54585d 0%, #1e2023 100%);transition:all 1s ease}
.loader{position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-50px;height:100px;width:100px;text-align:center}
.trans{opacity:0;transition:all 1s ease}
.hidden{display:none}
.controls{z-index:110;position:absolute}
.sidebar{height:100%;width:16%;position:absolute;background:#494a4f;float:left;-webkit-transition:all 0.4s ease;-webkit-box-shadow:5px 0 5px rgba(0,0,0,.15);z-index:108}
.notification{position:absolute;width:100%;height:100%;z-index:200;background:rgba(0,0,0,.7)}
.close{float:right;width:1.5em;height:1.5em;border:none;border-radius:25px;background:#fff}
.notification > section{width: 70%;height: 70%;background: #fff;margin: auto;margin-top: 5em;border-radius: 15px;box-shadow: #666 0 0 12px}
.button{margin:0 5px 0 0;width:100%;color:#fff;opacity:0.45;padding:25px 16px;font-size:18px;line-height:1.50;background:#494a4f;border:none;border-top:1px solid #2a2a2a}
.button > span{font-family:'Segoe UI Light';padding-left:10px}
.slides,.prev,.pres,.next{height:100%;width:100%;margin:0px;padding:0px;overflow:hidden}
.pres,.prev,.next{text-align:center;display:inline-block;position:absolute}
.prev,.next{display:none}
.inner{height:80%;width:80%;padding:0 0.5em;margin:5% 10%;outline:#999999 thin dashed;position:absolute}
.pres:focus{outline:#666666 thin dashed;background:rgba(51,51,51,0.4)}
.inner > h1{margin:0.2em 0.5em}
.inner > h1{font-size:4em}
.inner > table{width:100%; height:50%}
.inner > p{font-size:1.5em}
.current{outline:#fff thin solid;-webkit-box-shadow:0 0 12px #2ad;box-shadow:0 0 12px #2ad;}
.sidebar-sub{width:84%;height:100%;margin:0;float:right;position:relative;display:block}
.dash{background:-webkit-radial-gradient(center, circle cover, #54585d 0%, #1e2023 100%)}
.sidebar-sub > section{background:#fff;height:100%;width:85%;z-index:105;-webkit-transition:all 0.2s;margin-left:-50em;position:absolute;border-radius:0 15px 15px 0}
.main-container{position:absolute;z-index:79}
.options{width:100%;height:90%;overflow: auto;}
.objects > li{overflow:hidden}
.file{ padding:2em 0; width:6em; opacity:0}
.options-head{font-family:'Segoe UI SemiBold';font-size:1em}
.options-subhead{font-family:'Segoe UI SemiBold';font-size:0.75em}
.options-list{list-style-type:none;padding:0;margin:0.5em}
.options-list > li{width:6em;height:6em;display:inline-block;margin-bottom:0.5em;text-align:center}
.options-list > li:hover{-webkit-box-shadow:0 0 12px #2ad;box-shadow:0 0 12px #2ad;-webkit-transform: translateY(-4px);transform: translateY(-4px)}
.options-list > li > h4{margin-bottom:0}
.options-list > span{margin-bottom:0.5em}
.controller{position:absolute;z-index:200;bottom:0;right:0}
.moveto > div{display:inline-block;position:relative;list-style:none;width:3em;height:3em;color:#fff;background:#494a4f;-webkit-box-shadow:5px 0 5px rgba(0,0,0,.15);padding:7px 10px;border-radius:50%}
.arrowLeft:before{font-family:FontAwesome;content:"\f060";font-size:2em}
.arrowRight:before{font-family:FontAwesome;content:"\f061";font-size:2em}
.costumize{height: 5em;width: 100%;position: absolute;z-index: 200;background: #fff;bottom: 0}
.transition > li, .transition > li > h4{font-family:'Arial'}
.tables > li > table{width:100%; height:100%; border:thin 1px; border-color:#fff}
.fore{display:inline-block;width:1em;height:1em;margin:0.1em;border-radius:50%;margin-top:2.5em}
.basic{width:100%;height:10%;text-align:center}
.in-basic{height:100%;margin:0;padding:0}
.btn2{width:3em;height:3em;padding:0;margin:0;color:#fff;background:#494a4f;border:none}
.active{-webkit-animation: active 0.1s ease both}
.inactive{-webkit-animation: inactive 0.1s ease both}
@-webkit-keyframes active{from {margin-left: -40em} to{margin-left: 0}}
@-webkit-keyframes inactive{from {margin-left: 0} to{margin-left: -40em}}
.set_up > label{font-family:'Segoe UI SemiBold'; font-size:14px; font-weight:bold; margin: 5px;}
.set_up > input{width:90%;font-family:'Segoe UI Light';padding:0.75em;margin-bottom:5px;font-size:1em;border: 1px solid #ddd;border-radius: 2px;background: #f9f9f9}

/* WebPresenter's Animations */
.loader>div{position:absolute;width:20px;height:20px;border-radius:15px;background:white;left:50%;top:50%;margin-top:-10px;margin-left:-10px}
.loader>div:not(.init){width:0px;height:0px;margin:0px;-webkit-animation-duration:2.7s;-webkit-animation-iteration-count: infinite}
.loader>.round1{-webkit-animation-name: round1;-webkit-animation-delay:0s;}.loader>.round2{-webkit-animation-name:round2;-webkit-animation-delay:.1s}
.loader>.round3{-webkit-animation-name:round3;-webkit-animation-delay:.2s;}.loader>.round4{-webkit-animation-name:round4;-webkit-animation-delay:.3s}
.loader>.round5{-webkit-animation-name:round5;-webkit-animation-delay:.4s;}.loader>.round6{-webkit-animation-name:round6;-webkit-animation-delay:.5s}
.loader>.round7{-webkit-animation-name:round7;-webkit-animation-delay:.9s;}.loader>.round8{-webkit-animation-name:round8;-webkit-animation-delay:.8s}
.loader>.round9{-webkit-animation-name:round9;-webkit-animation-delay:.7s;}.loader>.round10{-webkit-animation-name:round10;-webkit-animation-delay:.6s}
.active{margin-left: 0}
.inactive{margin-left: -100em}
.eject{-webkit-animation: eject 0.4s ease both}
.active{-webkit-animation: active 0.4s both}
.inactive{-webkit-animation: inactive 0.2s ease both}
@-webkit-keyframes eject{from {margin-left: -20em} to{margin-left: 0}}
@-webkit-keyframes active{from {margin-left: -100em} to{margin-left: 0}}
@-webkit-keyframes inactive{from {margin-left: 0} to{margin-left: -100em}}
@-webkit-keyframes round1{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-10px;margin-top:-50px;width:20px;height:20px}}
@-webkit-keyframes round2{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:14px;margin-top:-43px;width:20px;height:20px}}
@-webkit-keyframes round3{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:29px;margin-top:-24px;width:20px;height:20px}}
@-webkit-keyframes round4{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:29px;margin-top:0px;width:20px;height:20px}}
@-webkit-keyframes round5{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:15px;margin-top:22px;width:20px;height:20px}}
@-webkit-keyframes round6{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-10px;margin-top:30px;width:20px;height:20px}}
@-webkit-keyframes round7{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-34px;margin-top:-43px;width:20px;height:20px}}
@-webkit-keyframes round8{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-49px;margin-top:-24px;width:20px;height:20px}}
@-webkit-keyframes round9{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-49px;margin-top:0px;width:20px;height:20px}}
@-webkit-keyframes round10{0%, 55%, 100% {margin:0px;width:0px;height:0px}5%, 50% {margin-left:-35px;margin-top:22px;width:20px;height:20px}}
/* WebPresenter's Animations */